GCC_BIN = 

MBED_OBJECTS = {% for f in object_files %}{{f}} {% endfor %}
MBED_SOURCEN = {% for f in to_be_compiled %}{{f}} {% endfor %}
MBED_INCLUDE_PATHS = {% for p in include_paths %}-I{{p}} {% endfor %}
MBED_LIBRARY_PATHS = {% for p in library_paths %}-L{{p}} {% endfor %}
MBED_LIBRARIES = {% for lib in libraries %}-l{{lib}} {% endfor %}
MBED_LINKER_SCRIPT = {{linker_script}}

############################################################################### 
AS      = $(GCC_BIN)arm-none-eabi-as
AR      = $(GCC_BIN)arm-none-eabi-ar
CC      = $(GCC_BIN)arm-none-eabi-gcc
CXX     = $(GCC_BIN)arm-none-eabi-g++
LD      = $(GCC_BIN)arm-none-eabi-gcc
OBJCOPY = $(GCC_BIN)arm-none-eabi-objcopy
OBJDUMP = $(GCC_BIN)arm-none-eabi-objdump
SIZE    = $(GCC_BIN)arm-none-eabi-size

ifeq ($(HARDFP),1)
    FLOAT_ABI = hard
else
    FLOAT_ABI = softfp
endif

CPU = -mcpu=cortex-m7 -mthumb -mfpu=fpv5-d16 -mfloat-abi=$(FLOAT_ABI) 
MBED_CC_FLAGS = -c -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -fmessage-length=0 -fno-exceptions -fno-builtin -ffunction-sections -fdata-sections -funsigned-char -MMD -fno-delete-null-pointer-checks -fomit-frame-pointer $(CPU)
MBED_CPPC_FLAGS = -c -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -fmessage-length=0 -fno-exceptions -fno-builtin -ffunction-sections -fdata-sections -funsigned-char -MMD -fno-delete-null-pointer-checks -fomit-frame-pointer $(CPU) -O2 -std=gnu++98 -fno-rtti -MMD -MP
MBED_ASM_FLAGS = -x assembler-with-cpp -c -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -fmessage-length=0 -fno-exceptions -fno-builtin -ffunction-sections -fdata-sections -funsigned-char -MMD -fno-delete-null-pointer-checks -fomit-frame-pointer $(CPU) -O2
MBED_CC_SYMBOLS = {% for s in symbols %}-D{{s}} {% endfor %}

MBED_LD_FLAGS = -Wl,--gc-sections --specs=nano.specs -u _printf_float -u _scanf_float -Wl,--wrap,main $(CPU)
MBED_LD_FLAGS += -Wl,-Map=$(MODEL).map,--cref
MBED_LD_SYS_LIBS = -lstdc++ -lsupc++ -lm -lc -lgcc -lnosys

ifeq ($(DEBUG), 1)
  CC_FLAGS += -DDEBUG -O0
else
  CC_FLAGS += -DNDEBUG -Os
endif
